<% include ../layouts/header.ejs %>


<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <a href="/admin/ng/users" class="small-box bg-aqua">
      <div class="inner">
        <h3><%= system_stat.user_count %></h3>
        <p>Users</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
    </a>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= system_stat.cpu %></h3>
        <p>CPU load</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <!--<a href="/admin/request" class="small-box bg-yellow">-->
      <!--<div class="inner">-->
        <!--<h3><%= system_stat.request_count %></h3>-->
        <!--<p>Requests</p>-->
      <!--</div>-->
      <!--<div class="icon">-->
        <!--<i class="ion ion-person-add"></i>-->
      <!--</div>-->
    <!--</a>-->
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <!--<a href="/admin/feedback" class="small-box bg-red">-->
      <!--<div class="inner">-->
        <!--<h3><%= system_stat.feedback_count %></h3>-->
        <!--<p>Feedback</p>-->
      <!--</div>-->
      <!--<div class="icon">-->
        <!--<i class="ion ion-pie-graph"></i>-->
      <!--</div>-->
    <!--</a>-->
  </div><!-- ./col -->
</div><!-- /.row -->
<!-- Main row -->
<div class="row">

</div><!-- /.row (main row) -->


<% include ../layouts/footer.ejs %>