</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="doc/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="doc/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
