<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                API
            </a>
        </li>
        <li>
            <a href="#page-all">Общее описание</a>
        </li>

        <li class="sidebar-brand">
            <a href="#">
                Авторизация/регистрация
            </a>
        </li>
        <li>
            <a href="#page-login">Авторизация</a>
        </li>
        <li>
            <a href="#page-register">Регитсрация</a>
        </li>
        <li>
            <a href="#page-confirm">Подтверждение телефона</a>
        </li>
        <li>
            <a href="#page-resend">Повторный запрос кода</a>
        </li>
        <li>
            <a href="#page-forgot">Восстановление пароля</a>
        </li>
        <li>
            <a href="#page-add_device">Добавить ид для push</a>
        </li>
        <li>
            <a href="#page-remove_device">Удалить ид для push</a>
        </li>

        <li class="sidebar-brand">
            <a href="#">
                Профиль
            </a>
        </li>
        <li>
            <a href="#page-upload_license">Загрузить фото лицензии</a>
        </li>
        <li>
            <a href="#page-save_license_info">Сохранть инфу о лицензии</a>
        </li>
        <li>
            <a href="#page-get_profile">Получить свой профиль</a>
        </li>
        <li>
            <a href="#page-save_profile">Сохранить свой профиль</a>
        </li>
        <li>
            <a href="#page-upload_avatar">Загрузить аватар</a>
        </li>

        <li class="sidebar-brand">
            <a href="#">
                =====
            </a>
        </li>
        <li>
            <a href="#page-catalogs">Список стран, Машин, типов</a>
        </li>

    </ul>
</div>
<!-- /#sidebar-wrapper -->