<div id="page-catalogs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Страны, Марки машин, Типы</h2>
                <p>
                    <b>/catalogs</b>
                </p>

                <table>
                    <tr>
                        <th>Параметры</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>нет</th>
                    </tr>
                </table>

                <p>
                    пример запроса:
                <pre>
                        <code class="json">
{"params":{}}}
                        </code>
                    </pre>
                </p>

                <p>
                    ответ:
                <pre>
                        <code class="json">
{
  "status": 1,
  "message": "OK",
  "result": {
    "error": [],
    "data": {
      "countries": [
        {
          "id": "57fe9cde85abbe7ebb9ac10a",
          "name": "efee",
          "code": "ef"
        }
      ],
      "manufacturers": [
        {
          "id": "57fea07daee7a67ef527b7bf",
          "name": "wedew"
        }
      ],
      "car_types": [
        {
          "id": "57ff78d4e5d5c60ead271893",
          "name": "fref erfre"
        }
      ]
    }
  }
}
                        </code>
                    </pre>
                </p>

            </div>
        </div>
    </div>
</div>