<div id="page-confirm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Подтверждение телефона (запрос нужно делать с токеном пользователя)</h2>
                <p>
                    <b>/confirm</b>
                </p>

                <table>
                    <tr>
                        <th>Параметры</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>code</th>
                        <td>строка</td>
                    </tr>
                </table>

                <p>
                    пример запроса:
                <pre>
                        <code class="json">
{"params":{"code":"232131"}}
                        </code>
                    </pre>
                </p>

                <p>
                    ответ в случае ошибки:
                <pre>
                        <code class="json">
{
  "status": 0,
  "message": "Validation error",
  "result": {
    "error": [
      {
        "code": "code",
        "message": "Invalid code"
      }
    ],
    "data": {}
  }
}
                        </code>
                    </pre>

                </p>

                <p>
                    ответ:
                <pre>
                        <code class="json">
{
  "status": 1,
  "message": "OK",
  "result": {
    "error": [],
    "data": {
      "id": "57fe7dc752a3777cfa97f869",
      "token": "9f58bfa000468eab071342db6b0c09e7",
      "email": "qtw9qqw3@eweww.ww",
      "role": "courier",
      "phone": "38106030528",
      "first_name": "Ivan",
      "last_name": "Ivanovich",
      "jabroolid": "IVAN12276",
      "avatar": {
        "full": "http://127.0.0.1:3000/images/empty.png",
        "preview": "http://127.0.0.1:3000/images/empty.png"
      },
      "created_at": 1476296135,
      "updated_at": 1476296135,
      "status": "active",
      "complete_license": false,
      "complete_bank": false,
      "complete_vehicle": false
    }
  }
}
                        </code>
                    </pre>
                </p>

            </div>
        </div>
    </div>
</div>